html,body{
    margin:0 auto;
    padding:0;
    text-align:left;
    font-family: JasmineUPC;
    font-size: 18px;
    /* font-family:"tahoma",Times New Roman,verdana,helvetica,arial,sans-serif; */

    /** smooth font for chrome **/
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

/** utoolity **/

.wrapper{
    width:960px;
    margin:0 auto;
}
.pull-left{
    float:left;
}
.pull-right{
    float:right;
}
.clearfix{
    clear:both;
}

/** main layout **/

.pnp-gray-bg {
    background-color: #4f453f;
}

.web-top-section {
    height: 196px;
    width: 100%;
}

.web-bottom-section {
    height: 36px;
    width: 100%;
}

.fixed-header {
    position: fixed;
    top: 0;
    width:100%;
    z-index: 1000;
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.09);
}
.fixed-footer {
    width:100%;
    height: 36px;
    line-height: 36px;
    background: url(images/footerbg.jpg) repeat-x;
    text-align: center;
    font-size: 23px;
    color: white;
    font-weight: bold;
}
.container {
    min-height: 654px;
}

#logo{
    width:145px;
    height:156px;
}
#social_top{
    width:160px;
    height:156px;
}
#navigation{
    width:960px;
    height:40px;
}

#bg_header{
    background: url(images/01home_03.jpg) no-repeat;
}
#navigation a{
    display:block;
    float:left;
    height:40px;
}
#navigation a{
    width:125px;
}
#navigation a+a{
    width:130px;
}
#navigation a+a+a{
    width:175px;
}
#navigation a+a+a+a{
    width:118px;
}
#navigation a+a+a+a+a{
    width:152px;
}
#navigation a+a+a+a+a+a{
    width:89px;
}
#navigation a+a+a+a+a+a+a{
    width:171px;
}

/** footer **/
#bt-nav {
    margin-top: 20px;
    background: url(images/01home_18.jpg);
    height: 49px;
    padding-left: 119px;
}

#bt-nav a{
    display:block;
    float:left;
    height:40px;
}
#bt-nav a{
    width:74px;
}
#bt-nav a+a{
    width:111px;
}
#bt-nav a+a+a{
    width:148px;
}
#bt-nav a+a+a+a{
    width:103px;
}
#bt-nav a+a+a+a+a{
    width:122px;
}
#bt-nav a+a+a+a+a+a{
    width:74px;
}
#bt-nav a+a+a+a+a+a+a{
    width:104px;
}
